# <font color=blue>Pandas introduces two new Data Structs to python - Series & DataFrame, built on top of NumPy</font>

## <font color=red>Series</font>
#### <font color=blue>A series is 1-D object similar to array or list. Every item in series has an index associated with it. Index need not be integer

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.Series(['apple',5,'% Rate',6,-3.33])
data

0     apple
1         5
2    % Rate
3         6
4     -3.33
dtype: object

In [7]:
data.values

array(['apple', 5, '% Rate', 6, -3.33], dtype=object)

In [8]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
data = pd.Series(['apple',5,'%Rate',6,-3.33],index = ['a','b','c','d','e'])
data

a    apple
b        5
c    %Rate
d        6
e    -3.33
dtype: object

In [11]:
data['b']

5

In [12]:
# Series object can be constructed directly from a Python Dictionary(key pair)
population_dict = {'California' : 38332521, 'Texas' : 19651127,
                   'New York' : 19651127, 'Florida' : 19552860, 'Illinois' : 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         19651127
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
population['California']

38332521

In [15]:
population.keys()

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [16]:
list(population.items())

[('California', 38332521),
 ('Texas', 19651127),
 ('New York', 19651127),
 ('Florida', 19552860),
 ('Illinois', 12882135)]

## <font color=red>DataFrame</font>
#### <font color=blue>A tabular data struct with rows & columns. It's a sequence of aligned series objects

In [19]:
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297, 'Florida': 170312,'Illinois':149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [20]:
states = pd.DataFrame({'Population': population,'Area':area})
states

            Population    Area
California    38332521  423967
Texas         19651127  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [21]:
states.loc["New York"]

Population    19651127
Area            141297
Name: New York, dtype: int64

In [22]:
states.loc["New York":"Illinois","Area"]

New York    141297
Florida     170312
Illinois    149995
Name: Area, dtype: int64